@model IoTGateway.ViewModel.Rpc.RpcLogVMs.RpcLogListVM
@inject IStringLocalizer<Program> Localizer;

<wt:searchpanel vm="@Model" reset-btn="true">
    <wt:row items-per-row="ItemsPerRowEnum.Three">
        <wt:combobox field="Searcher.RpcSide" empty-text="@Localizer["Sys.All"]" />
        <wt:datetime field="Searcher.StartTime" range="true" />
        <wt:combobox field="Searcher.DeviceId" items="Searcher.AllDevices" empty-text="@Localizer["Sys.All"]" />
        <wt:textbox field="Searcher.Method" />
        <wt:textbox field="Searcher.Params" />
        <wt:combobox field="Searcher.IsSuccess" empty-text="@Localizer["Sys.All"]" />
    </wt:row>
</wt:searchpanel>
<wt:quote>注意：不同平台的rpc的topic和payload均不同，后期教程会更新到<a href="http://42.193.160.84/" target="_blank">http://iotgateway.net/</a></wt:quote>
<wt:grid vm="@Model" url="/Rpc/RpcLog/Search" hidden-checkbox="true" hidden-grid-index="true" />
